@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to left, rgba(7,27,80,1) 0%, rgba(0,128, 128,1)100%);
}
h1{
    font-family: 'Audiowide', cursive;
    color: aqua;
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 0;
}
